<%= form_with model: [post, comment], url: "/posts/#{post.id}/comments" do |form| %>
  <div class="field">
    <%= form.label :content, "コメント", class: "label" %>
    <div class="control">
      <%= form.text_area :content, id: "input-text", class: "textarea", rows: "2", placeholder: "コメントを入力する" %>
    </div>
  </div>
  <%# 文字数カウント %>
  <p id="counter"></p>
  <div class="field">
    <div class="control">
      <%= form.submit "コメントする", class: "button is-link is-outlined is-small" %>
    </div>
  </div>
<% end %>