<%# ログインしてる？ %>
<% if @current_user %>
  <%# フォローしようとしてるユーザーは自分じゃないよね？ %>
  <% if @current_user != user %>
    <%# もうフォローしてる？ %>
    <% if user.followed_by?(@current_user) %>
      <%= link_to "/users/#{user.id}/relationships", method: :delete, remote: true do %>
        <button class="button is-rounded is-info is-normal">フォロー済み</button>
      <% end %>
    <% else %>
      <%= link_to "/users/#{user.id}/relationships", method: :post, remote: true do %>
        <button class="button is-rounded has-text-info is-normal" style="border-color: #3298dc;">フォローする</button>
      <% end %>
    <% end %>

  <% end %>

<% else %>
  <%# ログインを促される宿命 %>
  <%= link_to "/users/#{user.id}/relationships", method: :post, remote: true do %>
    <button class="button is-rounded has-text-info is-normal" style="border-color: #3298dc;">フォローする</button>
  <% end %>

<% end %>