<h1 class="users-heading">ユーザー一覧</h1>
<% @users.each do |user| %>
  <article class="media">
    <figure class="media-left">
      <p class="image is-96x96">
        <img src="/blue_egg.jpg" class="is-rounded">
      </p>
    </figure>
    <div class="media-content">
      <div class="content">
        <p>
          <strong><%= link_to(user.name, "/users/#{user.id}", class: "has-text-black") %></strong>
        </p>
      </div>

      <% if @current_user != user %>
        <% if user.followed_by?(@current_user) %>
          <p><%= link_to "フォロー済み", "/users/#{user.id}/relationships/destroy", {method: :post} %></p>
        <% else %>
          <p><%= link_to "フォローする", "/users/#{user.id}/relationships/create", {method: :post} %></p>
        <% end %>
      <% end %>

    </div>
  </article>
<% end %>