<h1 class="users-heading">ユーザー一覧</h1>
<% @users.each do |user| %>
  <article class="media">
    <figure class="media-left">
      <p class="image is-96x96">
        <img src="/blue_egg.jpg" class="is-rounded">
      </p>
    </figure>
    <div class="media-content">
      <div class="content">
        <p>
          <strong><%= link_to(user.name, "/users/#{user.id}", class: "has-text-black") %></strong>
        </p>
      </div>
    </div>
  </article>
<% end %>