<section class="hero is-info is-fullheight">
  <div class="hero-body">
    <div class="container">
      <h1 class="title has-text-centered is-size-2 padding-bottom-3">
        何か、いいことあった？
      </h1>
      <h2 class="subtitle has-text-centered is-size-5">
        FavMemoriesとは、様々な人たちと幸せを共有することができるSNSサービスです。
        <br>
        些細なことでも構いません。
        生きていく上で感じた喜びや、かけがえのない思い出をシェアして、人生の幸福度をさらに高めましょう⭐️
      </h2>
    </div>
  </div>
</section>