<section class="hero is-fullheight has-bg-img">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="has-text-white is-size-1 has-text-weight-bold">何か、いいことあった？</h1>
      <h2 class="has-text-white is-size-2">あなたが味わった、かけがえのない瞬間をシェアしよう！</h2>
      <%= link_to "/signup" do %>
        <button class="button is-white margin-right-1 is-link is-inverted margin-top-3">新規登録</button>
      <% end %>
      <%= link_to "/login" do %>
        <button class="button is-white margin-left-1 is-link is-inverted margin-top-3">ログイン</button>
      <% end %>
    </div>
  </div>
</section>

